* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #a2d2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 97%;
  padding: 20px;
  display: flex;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 30px;
  letter-spacing: 1px;
  font-family: sans-serif;
  text-align: center;
  color: #023047;
}

.progress_bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 4rem 0;
  width: 100%;
}

.progress_bar {
  counter-reset: step;
}

.progress_bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transition: 0.4s ease-in-out;
  width: 100%;
  height: 4px;
  background: #dcdcdc;
  z-index: 1;
  transform: translateY(-50%);
}

.progress_bar.name::before {
  width: 31%;
  background: #8338ec;
  transition: 0.4s ease-in-out;
}

.progress_bar.detail::before {
  width: 62%;
  background: #8338ec;
  transition: 0.4s ease-in-out;
}

.progress_bar.id::before {
  width: 94%;
  background: #8338ec;
  transition: 0.4s ease-in-out;
}

.progress_bar.namePrev::before {
  background: #8338ec;
  transition: 0.4s ease-in-out;
}

.progress_bar.detailPrev::before {
  background: #8338ec;
  transition: 0.4s ease-in-out;
}

.progress_bar.keyPrev::before {
  background: #8338ec;
  transition: 0.4s ease-in-out;
}

.progress_step {
  width: 35px;
  height: 35px;
  background: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 2;
  align-items: center;
  position: relative;
}

.progress_step::before {
  font-family: sans-serif;
  counter-increment: step;
  content: counter(step);
  color: black;
  font-weight: bold;
}

.progress_step::after {
  content: attr(data-title);
  color: #666666;
  font-family: sans-serif;
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.97rem;
}

.progress_step.active {
  background: #8338ec;
  color: white;
}

.progress_step.active::before {
  color: white;
}

.input_div {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_div input {
  outline: none;
  font-size: 18px;
  width: 100%;
  height: 40px;
}

.input_div button {
  margin-top: 30px;
  width: 100%;
  border: none;
  outline: none;
  background: #8338ec;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.input_div button:hover {
  transform: scale(0.96);
}

.second_input {
  margin-top: 20px;
}

.input_div h3 {
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.input_div {
  display: none;
}

.active_input_div {
  display: flex;
}

#name_div {
  transition: 0.4s ease-in;
}

#details-div {
  transition: 0.4s ease-in;
}

#id_div {
  transition: 0.4s ease-in;
}

#key_div {
  transition: 0.4s ease-in;
}

@media (width>450px) {
  .form {
    width: 440px;
  }
}
