* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4{
  font-family: sans-serif;
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
}

.app {
  padding: 10px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_div {
  border-radius: 30px;
  background-color: green;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.btn_div button {
  border-radius: 30px;
  padding: 6px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  width: 140px;
  font-family: sans-serif;
  font-size: 15px;
}

.btn_div .active {
  color: green;
  background: white;
}

.title {
  margin-top: 25px;
}

.title h1 {
  margin-bottom: 8px;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1.1px;
  color: #228b22;
  font-size: 22px;
}

.all_plans_div {
  width: 100%;
  margin-top: 15px;
  background: green;
  padding: 4px;
  border-radius: 10px;
}

.all_posts_div {
  width: 100%;
  margin-top: 15px;
  background: green;
  padding: 4px;
  border-radius: 10px;
}

.plan_div {
  border-radius: 10px;
  background: white;
  padding: 8px;
  gap: 18px;
  display: flex;
  flex-direction: column;
}

.post_div {
  border-radius: 10px;
  background: white;
  padding: 8px;
  gap: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.plan {
  margin-top: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-family: sans-serif;
  font-size: 20px;
  padding: 6px;
}

.post {
  margin-top: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-family: sans-serif;
  font-size: 20px;
  padding: 6px;
}

.user_info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.user_info input {
  outline: none;
  font-family: sans-serif;
  font-size: 15px;
  padding: 4px;
  border: 2px solid green;
}

.user_info input::placeholder {
  color: green;
}

.user_info button {
  background: #6b8e23;
  width: 100px;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 30px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#post_div {
  display: none;
}

.user_info h3 {
  font-family: sans-serif;
  font-size: 16px;
}

span {
  color: red;
}

@media (width<400px) {
  .main{
    margin: auto;
    margin-top: 20px;
    width: 90%;
  }
  .app {
    width: 100%;
    margin-bottom: 20px;
  }
  .user_info {
    flex-direction: column;
  }
  .user_info button {
    width: 100%;
    padding: 10px;
  }
  .user_info input {
    padding: 10px;
  }
}
